<!DOCTYPE html>
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BarberSYS</title>
    <link rel="stylesheet" href="../static/assets/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="#" type="image/x-icon" />

     <script src="../static/assets/script.js" defer></script>
  </head>
<body class="container">
<div class="shadow">
    <header class="header">
      <div class="header__container">
        <img class="logo" src="../static/assets/images/Logo.png" alt="Caveira">
        <p>BarberSys - Sistema para Barberarias</p>
      </div><br>
    </header>
    <main class="main">
      <section class="container__botoes">
       <button class="btn" type="button" onclick="cliente()">Clientes</button>
        <div class="btn"><a href="">Barbeiros</a></div>
        <div class="btn"><a href="">Serviços</a></div>
        <div class="btn"><a href="">Agendamentos</a></div>
      </section>
    </main>
  </div>
</body>
</html>