<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BarberSYS</title>
    <link rel="stylesheet" href="../static/assets/servicos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />
    <link rel="shortcut icon" href="TelaLogin/assets/images/Logo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="../static/assets/script.js" defer></script>

  </head>
  <body class="container">
    <div class="shadow">
      <header class="header">
        <div class="header__container">
          <img class="logo" src="../static/assets/images/Logo.png" alt="Caveira">
          <p>BarberSys - Sistema para Barberarias</p>
        </div><br>
        <h1>Agendamento</h1>
      </header>
      <main>
        <form action="/processar-servico" method="GET" class="container__services" id="form-servicos">
          <p>Escolha o serviço desejado </p>
          <div class="container__services__form">

            <input type="hidden" name="servico" id="servico">

            <button type="button" class="auto-send" data-value="cabelo">Cabelo</button>
            <button type="button" class="auto-send" data-value="barba">Barba</button>
            <button type="button" class="auto-send" data-value="pintura">Pintura</button>
            <button type="button" class="auto-send" data-value="hidratacao">Hidratação</button>
          </div>
           {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert {{ category }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </form>
       
      </main>
    </div>

  </body>
</html>